<html>
    <body>
        <p>
            Weight: <%= weight %> oz
        </p>
        <p>
            Type: <%= type %>
        </p>
        <p>
            Cost: $<%= cost %>
        </p>
        <a href="/shipping.html">Calculate another rate</a>
    </body>
</html>

